<div class="container"> 
    <div class="row">
        <div class="col-xs-12">
            <h2><strong> RÉGION  de {{localite[index].name}}</strong></h2>
            <section class="banniere"></section>
            <ul class="list-group">
                <app-departement></app-departement>
                <app-arrondissement></app-arrondissement>
                <app-commune-arrond></app-commune-arrond>
                <app-commune-rurales></app-commune-rurales>
            </ul>
        </div>
    </div>
    
</div>
<router-outlet></router-outlet>

