<h1 class='text-center'>{{title}}</h1>
<app-map-sn></app-map-sn>
<!--<div class="container"> 
    <div class="row">
        <div class="col-xs-12">
            <h2><strong> RÉGION  DE DAKAR</strong></h2>
            <section class="banniere"></section>
            <ul class="list-group">
                <app-departement class="departement"></app-departement>
                <app-arrondissement></app-arrondissement>
                <app-commune></app-commune>
                <app-commune-arrond></app-commune-arrond>
                <app-commune-rurales></app-commune-rurales>
            </ul>
        </div>
    </div>
    
</div>
-->
<router-outlet></router-outlet>