
<nav class="nav-bar">
        
        <input class="form-control" type="text" [(ngModel)]="name"
        (input)=search()
        placeholder="Entrer le nom de la région " />
        

</nav>
<section class="banniere"></section>
<div class="container">
        <div class="row">
                <div class="col-lg-4 col-sm-6 col-xs-12 " *ngFor="let  element of localite" >
                        <div class="action">
                                <div class="img-action">
                                        <img class="img-action" src="http://localhost:8080/api/region/imageRegion/{{element.codeRegion}}">
                                      
                                </div>
                                <div class="action-description text-center">
                                        <h4 class="titre-action" >{{element.name | uppercase}}</h4>
                                       
                                        <a routerLink='/region' ><button class="btn btn-success" (click)="EnvoyerIdReg(element._links.self.href,element.name)"
                                                >Plus</button></a>
                                           
                  
                                </div>
                        </div>
                        <div class="clearfix"></div>
                </div>
        </div>
</div>

                 
   
<router-outlet></router-outlet>
           
          
   
   