<script src="https://kit.fontawesome.com/2d85c88888.js" crossorigin="anonymous"></script>
<div class="container">

    <div class="row">
        <div class="col-xs-12">
            <h2><strong> Région de {{region.name | uppercase}}</strong></h2>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-3 col-sm-6 col-xs-12 ">
            <div class="action">
                <div class="action-description text-center">
                    <ul class="list-group">
                        <h4><u>Superficie: </u> <br>{{region.superficie}} m² </h4>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="col-lg-3 col-sm-6 col-xs-12 ">
            <div class="action">
                <div class="action-description text-center">
                    <ul class="list-group">
                        <h4><u>Population:</u> <br>{{region.population}} Hbts</h4>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="col-lg-3 col-sm-6 col-xs-12 ">
            <div class="action">
                <div class="action-description text-center">
                    <ul class="list-group">
                        <h4><u>Latitude:</u> <br>{{region.latitude}} degres </h4>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>

        </div>
        <div class="col-lg-3 col-sm-6 col-xs-12 ">
            <div class="action">
                <div class="action-description text-center">
                    <ul class="list-group">
                        <h4><u>Longitude:</u> <br>{{region.longitute}} degres </h4>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>

        </div>
    </div>
</div>

<div class="bouton">
    <p id="details">

    </p>
    <button (click)='download()'>Télécharger les details (pdf)</button>
    <p>Partager le lien avec
        <button class="share_twitter" (click)="share_twitter()">
            <i class="fab fa-twitter"></i>
        </button>
        <button class="share_facebook" (click)="share_facebook()" style="margin-left: 10px;">
            <i class="fab fa-facebook-f"></i>
        </button>
    </p>
</div>

<ul class="list-group">
    <app-liste-depart></app-liste-depart>

</ul>

<a routerLink="">
    <button class="boutonA">Retour à l'accueil</button>

</a>

<footer class="bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a class="text-dark" href="https://gojambar.com/">Gojambar</a>
    </div>
    <!-- Copyright -->
</footer>

<router-outlet></router-outlet>