<div class="container"> 
    <div class="row">
        <div class="col-xs-12">
            <h2><strong> Région  de {{region.name | uppercase}}</strong></h2>
            </div>
    </div>
    
</div>
            <div class="container">
                <div class="row">
                        <div class="col-lg-3 col-sm-6 col-xs-12 ">
                            <div class="action">
                                <div class="action-description text-center">
                                    <ul class="list-group" >
                                        <h4><u>Superficie: </u> <br>{{region.superficie}} m² </h4>
                                    </ul>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                        </div>

                        <div class="col-lg-3 col-sm-6 col-xs-12 ">
                            <div class="action">
                                <div class="action-description text-center">
                                    <ul class="list-group" >
                                        <h4><u>Population:</u> <br>{{region.population}} Hbts</h4>
                                    </ul>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                        </div>
               
            <div class="col-lg-3 col-sm-6 col-xs-12 ">
                <div class="action">
                    <div class="action-description text-center">
                        <ul class="list-group" >
                            <h4><u>Latitude:</u> <br>{{region.latitude}} degres </h4>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>

            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12 ">
                <div class="action">
                    <div class="action-description text-center">
                        <ul class="list-group" >
                            <h4><u>Longitude:</u> <br>{{region.longitute}} degres </h4>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>

            </div>

            <ul class="list-group">
                <app-departement></app-departement>
                
            </ul>
        
<router-outlet></router-outlet>

