h2{
    background-color: #8783D1;
    color: black;
    margin-top: 50px;
    font-family:serif;
}
.action {
    background-color: rgba(185, 208, 240, 0.16);
    border: 1px solid #CED8E7;
    margin: 30px 0px;
    padding-bottom: 30px;
    transition: all 0.3s ease-in;
    height: 100px;
}
.action:hover 
{
    box-shadow: 0px 2px 3px 2px #CED8E7;
}

.action:hover
{
    opacity: 1;
}


.action-description
{
    padding: 0px 10px;
    line-height: 25px;
}


h3{
    font-family: sans-serif;
}
h4{
   font-family:monospace;
}
div button{
    margin-left: 40px;
}
.bouton{
    width: 250px;
    text-align: center;
    
    margin-left:100px;
    display: inline;
}
.boutonA{
   
    margin-left:120px;
    width: 210px;
    margin-bottom: 40px;
    
}
p{
    display: inline;
    margin-left: 40px;
    font-family:serif;
    font-size: 20px;
}