
   <section class="banniere"></section>
   

<div class="container">
        <div class="row">
                <div class="col-lg-4 col-sm-6 col-xs-12 ">
                        <div class="action">
                                <div class="img-action">
                                        <img class="img-action center-block" src="assets/carteDkr.png" alt="">
                                </div>
                                <div class="action-description text-center">
                                        <h4 class="titre-action" >{{localite[0].name}}</h4>
                                        <p> Habitant: </p>
                                        <p>Superficie:</p>
                                         <a routerLink="dakar"><button class="btn btn-success" (click)="onEnvoyer(0)">Plus</button></a>
                                        
				</div>
                        </div>
                
                        <div class="clearfix"></div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12 ">
                        <div class="action">
                                <div class="img-action">
                                        <img class="img-action center-block" src="assets/Saintlouis.jpeg" alt="">
                                </div>
                                <div class="action-description text-center">
                                        <h4 class="titre-action">Saint-Louis</h4>
                                        <p> Habitant: </p>
                                        <p>Superficie:</p>

                                        <a routerLink="dakar"><button class="btn btn-success" (click)="onEnvoyer(1)">Plus</button></a>
                                </div>
                         </div>
                        <div class="clearfix"></div>
                </div>

                <div class="col-lg-4 col-sm-6 col-xs-12 ">
                        <div class="action">
                                <div class="img-action">
                                        <img class="img-action center-block" src="assets/thies.png" alt="">
                                </div>
                                <div class="action-description text-center">
                                        <h4 class="titre-action">Thies</h4>
                                        <p> Habitant: </p>
                                        <p>Superficie:</p>

                                        <a routerLink="dakar"><button class="btn btn-success" (click)="onEnvoyer(2)">Plus</button></a>
				</div>
                        </div>
                
                        <div class="clearfix"></div>
                </div>

                <div class="col-lg-4 col-sm-6 col-xs-12 ">
                        <div class="action">
                                <div class="img-action">
                                        <img class="img-action center-block" src="assets/diourbel.jpeg" alt="">
                                </div>
                                <div class="action-description text-center">
                                        <h4 class="titre-action">Diourbel</h4>
                                        <p> Habitant: </p>
                                        <p>Superficie:</p>

                                        <a routerLink="dakar"><button class="btn btn-success" (click)="onEnvoyer(3)">Plus</button></a>
				</div>
                        </div>
                        <div class="clearfix"></div>
                </div>

                <div class="col-lg-4 col-sm-6 col-xs-12 ">
                        <div class="action">
                                <div class="img-action">
                                        <img class="img-action center-block" src="assets/kedougou.jpeg" alt="">
                                </div>
                                <div class="action-description text-center">
                                        <h4 class="titre-action">Kedougou</h4>
                                        <p> Habitant: </p>
                                        <p>Superficie:</p>

                                        <a routerLink="dakar"><button class="btn btn-success" (click)="onEnvoyer(4)">Plus</button></a>
				</div>
                        </div>

                        <div class="clearfix"></div>
                </div>

                <div class="col-lg-4 col-sm-6 col-xs-12 ">
                        <div class="action">
                                <div class="img-action">
                                        <img class="img-action center-block" src="assets/sedhiou.jpeg" alt="">
                                </div>
                                <div class="action-description text-center">
                                        <h4 class="titre-action">Sedhiou</h4>
                                        <p> Habitant: </p>
                                        <p>Superficie:</p>

                                        <a routerLink="dakar"><button class="btn btn-success" (click)="onEnvoyer(5)">Plus</button></a>
				
                        </div>
                </div>
                        <div class="clearfix"></div>
                </div>

                <div class="col-lg-4 col-sm-6 col-xs-12 ">
                        <div class="action">
                                <div class="img-action">
                                        <img class="img-action center-block" src="assets/fatick.png" alt="">
                                </div>
                                <div class="action-description text-center">
                                        <h4 class="titre-action">Fatick</h4>
                                        <p> Habitant: </p>
                                        <p>Superficie:</p>

                                        <a routerLink="dakar"><button class="btn btn-success" (click)="onEnvoyer(6)">Plus</button></a>
				</div>
                       
                </div>
                        <div class="clearfix"></div>
                </div>

                <div class="col-lg-4 col-sm-6 col-xs-12 ">
                        <div class="action">
                                <div class="img-action">
                                        <img class="img-action center-block" src="assets/kaffrine.png" alt="">
                                </div>
                                <div class="action-description text-center">
                                        <h4 class="titre-action">Kaffrine </h4>
                                        <p> Habitant: </p>
                                        <p>Superficie:</p>

                                        <a routerLink="dakar"><button class="btn btn-success" (click)="onEnvoyer(7)">Plus</button></a>
				</div>
                        
                </div>
                        <div class="clearfix"></div>
                </div>

                <div class="col-lg-4 col-sm-6 col-xs-12 ">
                        <div class="action">
                                <div class="img-action">
                                        <img class="img-action center-block" src="assets/kaolack.png" alt="">
                                </div>
                                <div class="action-description text-center">
                                        <h4 class="titre-action">Kaolack</h4>
                                        <p> Habitant: </p>
                                        <p>Superficie:</p>

                                        <a routerLink="dakar"><button class="btn btn-success" (click)="onEnvoyer(8)">Plus</button></a>
				</div>
                        
                </div>
                        <div class="clearfix"></div>
                </div>

                <div class="col-lg-4 col-sm-6 col-xs-12 ">
                        <div class="action">
                                <div class="img-action">
                                        <img class="img-action center-block" src="assets/louga.png" alt="">
                                </div>
                                <div class="action-description text-center">
                                        <h4 class="titre-action">Louga</h4>
                                        <p> Habitant: </p>
                                        <p>Superficie:</p>

                                        <a routerLink="dakar"><button class="btn btn-success" (click)="onEnvoyer(9)">Plus</button></a>
				</div>
                        
                </div>
                        <div class="clearfix"></div>
                </div>

                <div class="col-lg-4 col-sm-6 col-xs-12 ">
                        <div class="action">
                                <div class="img-action">
                                        <img class="img-action center-block" src="assets/tamba.png" alt="">
                                </div>
                                <div class="action-description text-center">
                                        <h4 class="titre-action">Tambacounda</h4>
                                        <p> Habitant: </p>
                                        <p>Superficie:</p>

                                        <a routerLink="dakar"><button class="btn btn-success" (click)="onEnvoyer(10)">Plus</button></a>
				</div>
                        
                </div>
                        <div class="clearfix"></div>
                </div>

                <div class="col-lg-4 col-sm-6 col-xs-12 ">
                        <div class="action">
                                <div class="img-action">
                                        <img class="img-action center-block" src="assets/matam.png" alt="">
                                </div>
                                <div class="action-description text-center">
                                        <h4 class="titre-action">Matam</h4>
                                        <p> Habitant: </p>
                                        <p>Superficie:</p>

                                        <a routerLink="dakar"><button class="btn btn-success" (click)="onEnvoyer(11)">Plus</button></a>
				</div>
                        
                </div>
                        <div class="clearfix"></div>
                </div>

                <div class="col-lg-4 col-sm-6 col-xs-12 ">
                        <div class="action">
                                <div class="img-action">
                                        <img class="img-action center-block" src="assets/kolda.jpeg" alt="">
                                </div>
                                <div class="action-description text-center">
                                        <h4 class="titre-action">Kolda</h4>
                                        <p> Habitant: </p>
                                        <p>Superficie:</p>

                                        <a routerLink="dakar"><button class="btn btn-success" (click)="onEnvoyer(12)">Plus</button></a>
				</div>
                        
                </div>
                        <div class="clearfix"></div>
                </div>

                <div class="col-lg-4 col-sm-6 col-xs-12 ">
                        <div class="action">
                                <div class="img-action">
                                        <img class="img-action center-block" src="assets/zig.png" alt="">
                                </div>
                                <div class="action-description text-center">
                                        <h4 class="titre-action">Ziguinchor</h4>
                                        <p> Habitant: </p>
                                        <p>Superficie:</p>

                                        <a routerLink="dakar"><button class="btn btn-success" (click)="onEnvoyer(13)">Plus</button></a>
				</div>
                        
                </div>
                        <div class="clearfix"></div>
                </div>
                </div>
                </div>
                <div class="footer">
			<h3>Suivez nous sur:</h3>
			<p class="cop"> © Copyright 2021,GoJ@mbar</p>
		</div>

                <router-outlet></router-outlet>
        
       

