

.img-action{
    width: 100%;
    height: 250px;
}

.action-description p
{
    padding: 0px 10px;
    line-height: 25px;
}
.titre-action 
{
    padding: 20px 0px;
    color: darkcyan;
    font-size: 29px;
}


.action {
    /*background: rgb(242, 247, 255);*/
    background-color:#F5F0F0;
    border: 1px solid #CED8E7;
    margin: 30px 0px;
    padding-bottom: 30px;
    transition: all 0.3s ease-in;
}
.action:hover 
{
    box-shadow: 0px 2px 3px 2px #CED8E7;
}

.action:hover .img-action 
{
    opacity: 1;
}

.footer
{
	width: 100%;
	height: 100px;
	background-color: #377F8F;
	color: white;
}
.cop{
	margin-bottom: 10px;
	width:100%;
	height: 40px;
	background-color: darkcyan;
}
input{
	width: 30%;
	margin-left: 500px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.btn{
	background-color: darkcyan;

}